$primary-color: #ff4979;
$primary-bg: white;

.list-song {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 1.5rem 1rem;
    list-style: none;
    padding-top: 460px;
    box-shadow: 0 2px 4px rgb(192, 192, 192);
    margin: 0;
    .item-song {
        cursor: pointer;
        background-color: $primary-bg;
        padding: 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        margin-bottom: 12px;
        box-shadow: 0 2px 4px rgb(192, 192, 192);
        .img {
            width: 50px;
            .img-song {
                padding-top: 100%;
                border-radius: 50%;
                background: no-repeat center/cover;
            }
        }
        .info-song {
            flex: 1;
            text-align: left;
            padding: 0 1.5rem;
            .author {
                font-size: 18px;
                font-weight: bold;

            }
            .name-song {
                font-size: 12px;
                color: #999;
            }
        }
        .info-more {
            display: flex;
            align-items: center;
            span {
                font-size: 36px;
                color: #666;
            }
        }
        &.active {
            background-color: $primary-color!important;
            color: white;
            .name-song, span {
                color: inherit;
            }
        }
    }
}
