@import "../../variables.module.scss";

.dashboard {
  position: fixed;
  width: 480px;
  background-color: var(--bg-color);
  top: 0;
  .state {
    list-style: none;
    display: inline-block;
    border-radius: 3rem;
    background-color: var(--primary-blur);
    padding: 0.2rem;
    margin: 4px 0;
    li {
      padding: 0.2rem 1.5rem;
      display: inline-block;
      border-radius: 3rem;
      color: black;
      font-weight: bold;
      cursor: pointer;
      &.active {
        background-color: var(--primary-bg);
        color: var(--primary-text);
      }
    }
    .btn-toggle {
      position: absolute;
      top: 1.25rem;
      right: -0.5rem;
    }
  }
}

@keyframes rotateThumb {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
