.App {
  max-width: 480px;
  background-color: white;
  box-shadow: 0 0 3px rgb(168, 168, 168);
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.MuiSlider-thumb {
  box-shadow: none !important;
}
